<div id="modalEditar" class="modal">

    <div class="modal-contenido">

        <h2>EDITAR REGISTRO</h2>

        <div class="form-grid">

            <input id="ePlaca" placeholder="Placa">

            <input id="ePropietario" placeholder="Propietario">

            <input id="eCertificado" placeholder="Certificado">

            <input id="eCategoria" placeholder="Categoría">

            <input id="eMarca" placeholder="Marca">

            <input id="eModelo" placeholder="Modelo">

            <input id="eColor" placeholder="Color">

            <input id="eMotor" placeholder="Motor">

            <input id="eSerie" placeholder="Serie">

            <input id="eAnio" placeholder="Año">

        </div>

        <div class="botones-modal">

            <button
            class="btnGuardar"
            id="btnGuardar">

            GUARDAR

            </button>

            <button
            class="btnCancelar"
            id="btnCancelar">

            CANCELAR

            </button>

        </div>

    </div>

</div>